code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  display: grid;
  place-items: center;
  padding: 2rem 0;

}
h1 {
  margin: 0;
}
.board {
  position: relative;
  padding: 0;
}
.tile {
  position: absolute;
  list-style: none;
  background: #33C8CE40;
  display: grid;
  place-items: center;
  font-size: 20px;
}
button {
  color: #33C8CE;
  background-color: #33C8CE40;
  border: #33C8CE 2px solid;
  border-radius: 10px;
  display: block;
  transition: all .3s ease-in-out;
}

button:hover {
  color: black;
  background-color: #33C8CE;

}

@media (min-width: 768px) {
  .App {
 
    padding: 5rem 0;
  
  }
}