
@import url('https://fonts.googleapis.com/css2?family=Coda&family=Fira+Code:wght@300&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';



body{
  font-family: 'Fira Code', monospace;
  line-height: 1.5;
  font-weight: 400;  
  color: #33C8CE;
  /* background-color: #242424; */
  background-color: #020100;
  

}

